body {
  font-family: "Sono", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 600px) {
  body {
    align-items: flex-start;
  }

  .pricing-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .pricing-plan {
    width: 80%;
    min-width: auto;
    margin-bottom: 1rem;
  }
}


li {
  list-style: none;
}

.pricing-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.pricing-plan {
  text-align: center;
  background-color: #e2e2e2;
  border-radius: 4px;
  box-shadow: 1px 1px 1px gray;
  padding: 20px;
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.plan-price {
  font-size: 2rem;
  font-weight: bold;
}
.plan-features{
    padding: 0;
    margin: 0;
}
.plan-features li {
    margin: 8px;
}
.plan-button {
  background-color: orange;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 1px gray;
  padding: 8px;
  color: white;
  font-weight: bold;
}
