<%- include("partials/header.ejs") %>
<main>
    <div class="blog-header">
        <h1>Ringo's Blog</h1>
        <h2>The Blockchain <span class="highlight">Data</span> Scientist</h2>
    </div>
</main>
<%- include("partials/footer.ejs") %>



